body {
    background-color: black;
}

h1 {
    color: yellow;
    font-size: 50px;
    text-align: center;
    font-family: 'Atari';
    margin-bottom: 5px;
}

h2 {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: 'Atari';
    color: yellow;
    font-size: 20px;
    margin: 10px;
}

canvas {
    border: 5px solid blue;
    width: 800px;
    height: 500px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#description {
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: blue;
    position: absolute;
    right: 0;
    top: 230px;
    color: black;
    font-weight: bold;
}

@font-face {
    font-family: Atari;
    src: url(AtariClassic.ttf);
}